<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JDBC_BT4_KHANH/src/BT4/Ketnoi.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="BT4.Ketnoi"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JDBC_BT4_KHANH"/>
</launchConfiguration>
